@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 37%;
    left: 68%;
    animation-duration: 283s;
    animation-delay: -357s;
    transform-origin: 24vw 14vh;
    box-shadow: 100vmin 0 13.441724751612448vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 81%;
    left: 1%;
    animation-duration: 252s;
    animation-delay: -70s;
    transform-origin: -23vw 17vh;
    box-shadow: -100vmin 0 12.5919075963044vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 41%;
    left: 44%;
    animation-duration: 406s;
    animation-delay: -366s;
    transform-origin: 22vw -17vh;
    box-shadow: -100vmin 0 12.665587530592363vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 44%;
    left: 55%;
    animation-duration: 55s;
    animation-delay: -144s;
    transform-origin: -8vw 17vh;
    box-shadow: -100vmin 0 13.144233003759389vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 66%;
    left: 63%;
    animation-duration: 277s;
    animation-delay: -174s;
    transform-origin: -15vw 18vh;
    box-shadow: 100vmin 0 12.721185543935826vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 78%;
    left: 81%;
    animation-duration: 428s;
    animation-delay: -450s;
    transform-origin: -12vw -7vh;
    box-shadow: 100vmin 0 12.50077073495157vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 63%;
    left: 5%;
    animation-duration: 342s;
    animation-delay: -404s;
    transform-origin: 9vw -8vh;
    box-shadow: 100vmin 0 12.94353598993647vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 86%;
    left: 65%;
    animation-duration: 150s;
    animation-delay: -334s;
    transform-origin: 14vw -21vh;
    box-shadow: 100vmin 0 13.195720850826234vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 85%;
    left: 3%;
    animation-duration: 423s;
    animation-delay: -247s;
    transform-origin: -8vw 11vh;
    box-shadow: 100vmin 0 12.84370526172484vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 99%;
    left: 17%;
    animation-duration: 110s;
    animation-delay: -397s;
    transform-origin: -9vw 9vh;
    box-shadow: -100vmin 0 13.240852637890013vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 4%;
    left: 43%;
    animation-duration: 225s;
    animation-delay: -132s;
    transform-origin: -9vw -16vh;
    box-shadow: 100vmin 0 12.87994706889686vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 31%;
    left: 57%;
    animation-duration: 233s;
    animation-delay: -400s;
    transform-origin: 3vw 18vh;
    box-shadow: -100vmin 0 13.232047191802803vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 46%;
    left: 95%;
    animation-duration: 257s;
    animation-delay: -343s;
    transform-origin: -22vw -4vh;
    box-shadow: 100vmin 0 12.980570091814858vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 83%;
    left: 42%;
    animation-duration: 418s;
    animation-delay: -287s;
    transform-origin: 23vw 20vh;
    box-shadow: -100vmin 0 12.51308764063065vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 3%;
    left: 38%;
    animation-duration: 132s;
    animation-delay: -153s;
    transform-origin: -11vw -4vh;
    box-shadow: 100vmin 0 13.347349040607579vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 21%;
    left: 38%;
    animation-duration: 338s;
    animation-delay: -180s;
    transform-origin: -15vw 1vh;
    box-shadow: 100vmin 0 12.765216462890285vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 99%;
    left: 71%;
    animation-duration: 417s;
    animation-delay: -287s;
    transform-origin: 8vw -23vh;
    box-shadow: -100vmin 0 13.40912988895542vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 6%;
    left: 78%;
    animation-duration: 226s;
    animation-delay: -226s;
    transform-origin: 4vw -5vh;
    box-shadow: -100vmin 0 12.9661564240979vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 51%;
    left: 88%;
    animation-duration: 322s;
    animation-delay: -235s;
    transform-origin: -16vw 12vh;
    box-shadow: 100vmin 0 13.250365536677972vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 29%;
    left: 45%;
    animation-duration: 58s;
    animation-delay: -176s;
    transform-origin: 22vw -8vh;
    box-shadow: -100vmin 0 12.724060479071683vmin currentColor;
}
.background span:nth-child(20) {
    color: #FFACAC;
    top: 62%;
    left: 54%;
    animation-duration: 334s;
    animation-delay: -376s;
    transform-origin: -6vw -9vh;
    box-shadow: 100vmin 0 12.599457029585345vmin currentColor;
}
.background span:nth-child(21) {
    color: #FFACAC;
    top: 44%;
    left: 58%;
    animation-duration: 78s;
    animation-delay: -76s;
    transform-origin: -2vw -3vh;
    box-shadow: 100vmin 0 12.785738626906683vmin currentColor;
}
.background span:nth-child(22) {
    color: #FFACAC;
    top: 34%;
    left: 24%;
    animation-duration: 333s;
    animation-delay: -105s;
    transform-origin: 10vw 2vh;
    box-shadow: 100vmin 0 12.741389999322754vmin currentColor;
}
.background span:nth-child(23) {
    color: #583C87;
    top: 46%;
    left: 37%;
    animation-duration: 301s;
    animation-delay: -172s;
    transform-origin: 2vw 18vh;
    box-shadow: -100vmin 0 13.323512977213472vmin currentColor;
}
.background span:nth-child(24) {
    color: #583C87;
    top: 27%;
    left: 90%;
    animation-duration: 103s;
    animation-delay: -209s;
    transform-origin: -12vw -7vh;
    box-shadow: -100vmin 0 13.12905868528211vmin currentColor;
}
